<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="map-container">
    <div class="title-data-container">
        <div class="map-title">{{title}}</div>

    </div>

    <div class="tile-container">
        <app-tile (selectedPolity)="recievePolity($event)" *ngFor="let region of regions" [_region]="region"></app-tile>
    </div>


    <div class="control-panel">
        <div class="control-panel__button-container">
            <!-- <button id="forwardOneYear" class="control-panel__btn" (click)="forwardYears(1)">Forward One Year</button>
            <button id="forwardTenYear" class="control-panel__btn" (click)="forwardYears(10)">Forward Ten Years</button>
            <button id="forwardThousandYear" class="control-panel__btn" (click)="forwardYears(1000)">Forward One Thousand Years</button> -->

            <button class="control-panel__btn" (click)="reset()">Reset</button>

            <div class="control-panel__forward-button-container">
                <button class="control-panel__btn" (click)="play(yearsPerSecond.value)"><i class="icon fa fa-play"
                        aria-hidden="true"></i></button>
                <input #yearsPerSecond class="control-panel__years-per-second-input" type="number" id="yearsPerSecond"
                    value=10 min="1" max="100">
                <div class="control-panel__forward-label">years per second</div>
            </div>
            <div class="control-panel__forward-button-container">
                <button id="forwardHundredYear" class="control-panel__btn" (click)="forwardYears(yearsPerStep.value)"><i
                        class="icon fa fa-plus" aria-hidden="true"></i></button>
                <input #yearsPerStep class="control-panel__years-per-second-input" type="number" id="yearsPerStep"
                    value=100 min="1" max="1000">
                <div class="control-panel__forward-label">years forward</div>
            </div>
            <button class="control-panel__btn" (click)="pause()"><i class="icon fa fa-pause"
                    aria-hidden="true"></i></button>

        </div>

    </div>
    <div class="data-container">
        <div class="data-container__data-point">Year: {{year}}</div>
        <div class="data-container__data-point">Population: {{globalPopulation()}}</div>
        <div class="data-container__data-point">Food Yield: {{globalFoodYielded()}}</div>
    </div>


    <!-- <i class="fa fa-male" aria-hidden="true"></i>
    <i class="fa fa-home" aria-hidden="true"></i>
    <i class="fa fa-tree" aria-hidden="true"></i> -->

</div>