@import '../../styles.scss';


/* --------------------------------- */
/* VARIABLES */
/* --------------------------------- */
$tile-size:5rem;
$tile-color: rgb(19, 83, 19);

/* --------------------------------- */
/* TILES */
/* --------------------------------- */


.tile{
    background-color:$tile-color;
    width:$tile-size;
    height:$tile-size;
    
}

.tile:hover{
    cursor:pointer;
    background-color: lighten($tile-color, 10);
}