@import '../../styles.scss';


/* --------------------------------- */
/* VARIABLES */
/* --------------------------------- */
$tile-size:5rem;

/* --------------------------------- */
/* TILES */
/* --------------------------------- */


.tile{
    background-color:rgb(19, 83, 19);
    width:$tile-size;
    height:$tile-size;
}