@import '../../styles.scss';
@import '../app.component.scss';





/* --------------------------------- */
/* TILES */
/* --------------------------------- */


.tile{
    position:relative;
    width:$tile-size;
    height:$tile-size;
    
}

/* --------------------------------- */
/* RESPONSIVE DESIGN */
/* --------------------------------- */


@media (max-device-width: 600px), (min-device-width: 600px) {
    .tile{
        width:2rem;
        height:2rem;
    }
  }
  
  @media (min-device-width: 800px) {
    .tile{
        width:2.5rem;
        height:2.5rem;
    }
  
  }
  
  @media (min-device-width: 1024px) {
    .tile{
        width:3rem;
        height:3rem;
    }
  }
  
  @media (min-device-width: 1280px) {
    .tile{
        width:$tile-size;
        height:$tile-size;
    }
  }

.region-label{
    font-size:1rem;
    word-wrap: break-word;
    color:$color-font-white;
}

.tropical{background-color:$color-tropical;}
.dry{background-color:$color-dry;}
.temperate{background-color:$color-temperate;}
.continental{background-color:$color-continental;}
.polar{background-color:$color-polar;}
.ocean{background-color:$color-water;}


.tile:hover{
    cursor:pointer;
    background-color: grey;
}

.icon-container{
    @include center-horizontal-vertical;

}
.icon{
    padding:0rem;
    margin:0rem .05rem 0rem 0rem;
}

.band{
    font-size:.25rem;
    color:$color-band;
}
.village{
    font-size:.75rem;
    color:$color-village;
}
.town{  
    font-size:.75rem;
    color:$color-town;
}

.forest{
    color:green;
}

/* --------------------------------- */
/* BORDERS */
/* --------------------------------- */

.north-river{
    position:absolute;
    top:0;
    height:1px;
    width:$tile-size;
    background-color: $color-water;
}
.east-river{
    position:absolute;
    top:0;
    right:0;
    height:$tile-size;
    width:1px;
    background-color: $color-water;

}

.south-river{
    position:absolute;
    bottom:0;
    height:1px;
    width:$tile-size;
    background-color: $color-water;
}
.west-river{
    position:absolute;
    top:0;
    left:0;
    height:$tile-size;
    width:1px;
    background-color: $color-water;
}
/* --------------------------------- */
/* SELECTED TILES */
/* --------------------------------- */

.selected{
    background-color: rgb(228, 216, 216);
}
