<h1>The Root of Civilization</h1>

<main>
    <article>
        <app-map class='map' [regions]='fertileCrescentMap._regions' [rivers]='fertileCrescentMap._rivers'></app-map>
        <!-- <div class="wrapper">
            <p class="paragraph">
                In college I studied history and computer science. Over the past few months I worked on organic farms around the
                country. I have been dreaming up an essay that synthesizes these three experiences. I have been playing the
                Civilization game series on and off for over ten years now. When playing I typically find myself more interested in
                the world building and demography than winning. It fascinates me to see these alternative geographic and historical
                scenarios where Abraham Lincoln can lead the peace-loving Jewish Mongols to explore a hitherto unknown continent.
                However, the game is addictive and time consuming. I have mostly weened myself off of it, uninstalling it from my
                computer. Since learning computer programming, I have dreamt up creating not a civilization game, but a civilization
                simulation. The mechanics that make the game enjoyable detract from its potential for a real simulation. My goal is
                to program a simulation that is as realistic as I know how to make it.
            </p>
            
            <p class="paragraph">
                Doing the numbers is key here. I took a simulations course using the C programming language in college. It was a
                confusing mess of Monte Carlo Methods. However, applying some of those principles to this program will be valuable.
                For the most part, I am going to cross the river by reaching for stones as I research ways to calculate things like
                birth rate and infant mortality to model population. I am using Typescript and Angular to do this. Veteran
                programmers may wince at this. JavaScript is so prone to floating point errors. Python or C would be better, but I
                am trying to learn Angular alongside this and I want the program to be compatible with my blog, so I am just going
                to stupidly fling myself into this and hope it works out.
            </p>
            
            <app-mini-map class='map' [regions]='fertileCrescentMap._regions' [rivers]='fertileCrescentMap._rivers'></app-mini-map>
        </div> -->
    </article>
</main>

