@import '../styles.scss';

/* --------------------------------- */
/* VARIABLES */
/* --------------------------------- */

$section-separator:6rem;
$subsection-separator:3rem;
$paragraph-separation:2rem;

/* --------------------------------- */
/* STRUCTURE */
/* --------------------------------- */

.wrapper{
    margin:0rem 32rem 0rem 32rem;
}
.map{
    width:100%;
    margin:auto;
}

.map-separator{margin-bottom: $paragraph-separation;}


/* --------------------------------- */
/* BANNER */
/* --------------------------------- */

.banner{
    position:relative;
    width:auto;
    height:100vh;
    &__title{
        position:absolute;
        font-size:4rem;
        top:10%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    &__subtitle{
        position:absolute;
        font-size: 2.2rem;
        top:85%;
        left:50%;
        transform:translate(-50%,-50%);
    }

    &__image{
        position:absolute;
        @include center-horizontal-vertical;
        width:50rem;
        height:auto;
    }
}

#banner-image-1,#banner-image-2,#banner-image-3{
    opacity:1;
    animation-duration:6s;
}
#banner-image-1{animation-name: fadeIn-1;}
#banner-image-2{animation-name: fadeIn-2;}
#banner-image-3{animation-name: fadeIn-3;}

@keyframes fadeIn-1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 
@keyframes fadeIn-2 {
    0% {opacity: 0;}
    33% {opacity: 0;}
    100% {opacity: 1;}
 } 
@keyframes fadeIn-3 {
    0% {opacity: 0;}
    66%{opacity:0;}
    100% {opacity: 1;}
 } 

/* --------------------------------- */
/* TYPOGRAPHY */
/* --------------------------------- */

.section-title{
    text-align: center;
    font-size:3rem;
    margin-top:$section-separator;
    margin-bottom: $paragraph-separation;
    text-decoration: underline;
}
.subsection-title{
    text-align: center;
    font-size:2.3rem;
    margin-top:$subsection-separator;
    margin-bottom: $paragraph-separation;
}

.paragraph{
    margin-bottom: $paragraph-separation;
    font-size:1.8rem;
    line-height: 1.6;
}

/* --------------------------------- */
/* LINKS */
/* --------------------------------- */

a{
    text-decoration:none;
    color:#3498db;
    transition:all .4s;
}
a:hover{
    color:#8e44ad;
}
a:active{
    color:#8e44ad;
}

/* --------------------------------- */
/* KEY */
/* --------------------------------- */

.key{
    list-style-type: none;
    &__item{
        font-size:1.8rem;
        margin-bottom: $paragraph-separation;
    }
}

.north-river{
    height:2px;
    width:$tile-size;
    background-color: $color-water;
}

/* --------------------------------- */
/* IMAGES */
/* --------------------------------- */

.figure-container{
    text-align:center;
    width:100%;
    margin:auto auto $paragraph-separation auto;
    
    .image{
        margin:auto;
        width:100%;
        height: auto;
    }
}

/* --------------------------------- */
/* QUOTES */
/* --------------------------------- */

.quote-container{
    margin:auto auto $paragraph-separation auto;
    &__quote{
        font-size:2.1rem;
    }
    &__attribution{
        font-size: 1.9rem;
        margin-left:75%;
    }
    &__attribution::before {content: '― '; }
    
}

/* --------------------------------- */
/* SOURCES */
/* --------------------------------- */

.source-list{
    list-style-type: none;
    &__source{
        font-size:1.8rem;
        margin-bottom:$paragraph-separation;  
      }
      margin-bottom: $section-separator;
}

/* --------------------------------- */
/* RESPONSIVE DESIGN */
/* --------------------------------- */


@media (max-device-width: 600px), (min-device-width: 600px) {
   .wrapper{
       max-width:25rem;
       margin:0rem 5rem 0rem 5rem;
       }
   .map{
        width:20rem;
        margin:auto;
    }
    
}

@media (min-device-width: 800px) {
    .wrapper{
        max-width:30rem;
        margin:0rem 15rem 0rem 15rem;
    }

}

@media (min-device-width: 1024px) {
    .wrapper{
        max-width:50rem;
        margin:0rem 25rem 0rem 25rem;
    }
}

@media (min-device-width: 1280px) {
    .wrapper{
        max-width:100rem;
        margin:0rem 32rem 0rem 32rem;
    }
}
