@import '../styles.scss';

$section-separator:6rem;
$subsection-separator:3rem;
$paragraph-separation:2rem;

.main-title{
    text-align: center;
    font-size:4rem;
    margin-bottom: $paragraph-separation;
}

.section-title{
    text-align: center;
    font-size:3rem;
    margin-top:$section-separator;
    margin-bottom: $paragraph-separation;
}
.subsection-title{
    text-align: center;
    font-size:2.3rem;
    margin-top:$subsection-separator;
    margin-bottom: $paragraph-separation;
}

.paragraph{
    margin-bottom: $paragraph-separation;
    font-size:1.8rem;
    line-height: 1.5;
}

.wrapper{
    margin:0rem 32rem 0rem 32rem;
}


//THE MAP
.map{
    width:100%;
    margin:auto;
}

.map-separator{margin-bottom: $paragraph-separation;}


// FOR RIVER IN KEY
.east-river{

    height:$tile-size;
    width:2px;
    background-color: $color-water;

}

.figure-container{
    text-align:center;
    width:100%;
    
    .image{
        margin:auto;
        width:50rem;
        height: auto;
    }
}

.quote-container{
    margin:auto auto $paragraph-separation auto;
    &__quote{
        font-size:2.1rem;
    }
    &__attribution{
        font-size: 1.9rem;
        margin-left:75%;
    }
    &__attribution::before {content: '― '; }
    
}
