<main>
    <article>
        <!-- <app-map class='map' [regions]='fertileCrescentMap._regions' [rivers]='fertileCrescentMap._rivers'></app-map> -->
        <!-- <app-map class='map' [regions]='emptyOceanMap._regions' [rivers]='emptyOceanMap._rivers'></app-map> -->
        <!-- <app-map class='map' [regions]='singleTileContinentalMap._regions' [rivers]='singleTileContinentalMap._rivers'></app-map> -->
        <div class="wrapper">
            <h1 class="main-title">The Root of Civilization</h1>
            <div class="main-title-subtitle">By Michael Crombie</div>
            <h2 class="section-title">Introduction</h2>
            <p class="paragraph">Below I have simulated the transition of nomadic bands of hunter-gatherers into
                sedentary farmers in the Fertile Crescent. Over the course of centuries, a single band of humans will
                multiply until they occupy the entire map. Eventually, small cities will emerge along the rivers. </p>
            <app-mini-map class='map' [regions]='fertileCrescentMap._regions' [rivers]='fertileCrescentMap._rivers'></app-mini-map>
            <div class="map-separator">&nbsp;</div>
            <h2 class="section-title">Why am I Writing this?</h2>
            <h2 class="section-title">Why is Agriculture <q>The Root of Civilization</q>?</h2>
            <h2 class="section-title">How does this simulation work?</h2>
            <h2 class="section-title">Going Forward...</h2>
            <h2 class="section-title">Sources</h2>
        </div>
    </article>
</main>