@import '../styles.scss';

$section-separator:6rem;
$paragraph-separation:2rem;

.main-title{
    text-align: center;
    font-size:4rem;
    margin-bottom: $paragraph-separation;
}

.section-title{
    text-align: center;
    font-size:3rem;
    margin-top:$section-separator;
    margin-bottom: $paragraph-separation;
}

.paragraph{
    margin-bottom: $paragraph-separation;
    font-size:1.8rem;
    line-height: 1.5;
}

.wrapper{
    margin:0rem 32rem 0rem 32rem;
}


//THE MAP
.map{
    width:100%;
    margin:auto;
}

.map-separator{margin-bottom: $paragraph-separation;}