


/* You can add global styles to this file, and also import other style files */

/* --------------------------------- */
/* BASE */
/* --------------------------------- */
* {
    padding: 0;
    margin: 0; }
  
  html {
    /*font-size:10px; /*root font-size for converting to em*/
    font-size: 62.5%;
    background-color: white;
    color:black;
    font-family: 'Philosopher', sans-serif; }


@mixin center-horizontal-vertical{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/* --------------------------------- */
/* VARIABLES */
/* --------------------------------- */

$tile-size:4rem;

$color-ocean-background:#0652DD;
$color-control-panel:#34495e;
$color-control-panel-light:#495969;



$shadow:rgb(61, 60, 60);

$color-btn: $color-control-panel;
$color-btn-hover:$color-control-panel-light;
$color-data-display-container: $color-control-panel;

// TILE COLORS
$color-tropical:#009432;
$color-dry:#eccc68;
$color-temperate:#A3CB38;
$color-continental:#12CBC4;
$color-polar:#ced6e0;
$color-water:#0652DD;





/* --------------------------------- */
/* BLAH */
/* --------------------------------- */



